<?xml version="1.0"?>
<config>
	<fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
		<field name="sef_advanced" type="hidden" default="1"/>
		<field name="items_limit" type="list"
			   label="COM_BOARD_PARAMS_ITEMS_LIMIT"
			   default="10">
			<option value="5">J5</option>
			<option value="10">J10</option>
			<option value="15">J15</option>
			<option value="20">J20</option>
			<option value="25">J25</option>
			<option value="30">J30</option>
			<option value="50">J50</option>
			<option value="100">J100</option>
			<option value="0">JALL</option>
		</field>
		<field name="search_placeholder" type="text"
			   label="COM_BOARD_PARAMS_SEARCH_PLACEHOLDER"
			   class="input-xlarge"
			   size="40"/>
		<field name="list_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_LIST_LAYOUT"
			   extension="com_board"
			   view="list"/>
		<field name="item_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_ITEM_LAYOUT"
			   extension="com_board"
			   view="item"/>
		<field name="form_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_FORM_LAYOUT"
			   extension="com_board"
			   view="form"/>
		<field name="map_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_MAP_LAYOUT"
			   extension="com_board"
			   view="map"/>

		<field type="note" label="COM_BOARD_PARAMS_PLACEMARK"/>
		<field name="placemark_coordinates" type="text"
			   label="COM_BOARD_PARAMS_PLACEMARK_COORDINATES"
			   class="input-xxlarge"
			   default="[[[-24, -48],[300, -48],[24, -8],[24, -8],[0, 0],[-24, -10],[-24, -10]]]"/>

		<field type="note" label="COM_BOARD_PARAMS_CLUSTER"/>
		<fields name="cluster">
			<field name="gridSize" type="number"
				   label="COM_BOARD_PARAMS_CLUSTER_GRIDSIZE"
				   default="120"/>
			<field name="minClusterSize" type="number"
				   label="COM_BOARD_PARAMS_CLUSTER_MINCLUSTERSIZE"
				   default="2"/>
			<fields name="icon">
				<field name="href" type="media"
					   label="COM_BOARD_PARAMS_CLUSTER_ICON"
					   class="input-large"
					   default="media/com_board/images/cluster.png"/>
				<field name="size" type="text"
					   label="COM_BOARD_PARAMS_CLUSTER_ICON_SIZE"
					   default="[64,64]"/>
				<field name="offset" type="text"
					   label="COM_BOARD_PARAMS_CLUSTER_ICON_OFFSET"
					   default="[-32,-32]"/>
			</fields>
			<field name="numberColor" type="color"
				   label="COM_BOARD_PARAMS_CLUSTER_NUMBERCOLOR"
				   default="#ffffff"/>
			<field name="clickOpacity" type="text"
				   label="COM_BOARD_PARAMS_CLUSTER_CLICKOPACITY"
				   class="input-xsmall"
				   default="0.75"/>
		</fields>
	</fieldset>

	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_board"
			   section="component"/>
	</fieldset>
</config>
