<?xml version="1.0"?>
<config>
	<fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
		<field name="sef_advanced" type="hidden" default="1"/>
		<field name="item_tags" type="sql"
			   label="COM_BOARD_PARAMS_ITEM_TAGS"
			   query="SELECT id, title FROM #__tags WHERE level = 1"
			   key_field="id"
			   value_field="title"
			   multiple="true"/>
		<field name="items_limit" type="list"
			   label="COM_BOARD_PARAMS_ITEMS_LIMIT"
			   default="10">
			<option value="5">J5</option>
			<option value="10">J10</option>
			<option value="15">J15</option>
			<option value="20">J20</option>
			<option value="25">J25</option>
			<option value="30">J30</option>
			<option value="50">J50</option>
			<option value="100">J100</option>
			<option value="0">JALL</option>
		</field>
		<field name="search_placeholder" type="text"
			   label="COM_BOARD_PARAMS_SEARCH_PLACEHOLDER"
			   class="input-xlarge"
			   size="40"/>
		<field name="list_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_LIST_LAYOUT"
			   extension="com_board"
			   view="list"/>
		<field name="item_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_ITEM_LAYOUT"
			   extension="com_board"
			   view="item"/>
		<field name="form_layout" type="componentlayout"
			   label="COM_BOARD_PARAMS_FORM_LAYOUT"
			   extension="com_board"
			   view="form"/>
	</fieldset>
	<fieldset name="navigation" label="COM_BOARD_PARAMS_NAVIGATION">
		<field name="root_title" label="COM_BOARD_PARAMS_ROOT_TITLE" default="COM_BOARD"/>
		<field name="tags" type="advtags"
			   label="JTAG"
			   multiple="true"/>
	</fieldset>
	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_board"
			   section="component"/>
	</fieldset>
</config>
